
@media (min-width:360px) and (max-width:450px){
   
.header{
    background: #F4F6F9;
    padding:0 ;
}
.header-content{
    max-width: 720px;
    align-items: center;
    text-align: center;
    max-height: 525px;
    padding-top: 30px;
    padding-bottom: 59px ;
    
}

.header-text h1{
    font-size: 1.875em;
    line-height: 40px; 
}
.header-text p{
    line-height: 23px;
    padding: 0 5px;
}
   

.header-button{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}


.section-1{
    max-width: 720px;
    background:linear-gradient(180deg, rgb(255, 255, 255) 65%, rgba(255, 255, 255, 0) 90%),url("./images/football-player.png") no-repeat;
    background-size: 100% auto;
    background-position:center bottom;
    min-height: 790px;
}
.interface-name{
    padding-bottom: 15px;
}
.text{
    max-width: 320px;
    margin: 0 auto;
    padding-bottom:15px ;
}
.football-info{
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
   
}
.football-title{
    padding-top: 50px;
    
    
}
.football-images{
    width: 100%;
   margin-left: 65px;
}
.schedule{
    width: 247px;
    height: 149px;
    top: -80px;
    left: -50px;
}
.switch{
    padding: 5px 0;
}

.label-text,
.schedule-type,
.schedule-text,
.schedule-time,
.schedule-team{
    margin-left: 5px;
    font-size: 0.9em;
}
.slider{
    margin-left: 0;
}
.slider:before{
    right: 27px;
    bottom: 4px;  
}
.football-video{
    width: 247px;
    height: 149px;
    top: 32px;
    left: 30px;
}
.arsenal{
    right: 20px;
}
.arsenal,
.chelsea{
    width: 49px;
    height: 57px;
}

.section-2{
    max-width: 720px;
    background: url(./images/ellipses.png) no-repeat; 
    background-size: auto 56%;
    background-position: 82% bottom;
    overflow: hidden;
    min-height: 631px;
    
    
}
.section-2-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.interface-title{
    padding-top: 62px;
}
.phone{
    top: 7%;
    right: 3%;
}
.basket{
    display: block;
    position: absolute;
    top: 32%;
    left: 32%;
}
.basket-message{
    display: inline;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(30, 240, 118);
    color: white;
    text-align: center;
    left: 55%;
    top: 20%;
}
.basket-message:hover{
    background: rgb(47, 231, 201);
    color: black;
}
.enter{
    display: none;
}
.dot{
    display: none;
}
.section-3{
    width: 100%;
    max-width: 720px;
    min-height:1775px;
    background: #FAFAFA;
    color: #4F4F4F;
}
.feature{
    color: black;
    padding:42px 15px 0;
}
.feature-container{
    text-align: center;
    justify-content: center;
    margin: 0;
}
.feature-items{
    margin-top: 60px;
}
.user-comment{
    margin: 0 auto;
}
.user-comment:not(:nth-child(3)){
display: none;
}
.feature-li{
    list-style: none;
line-height: 23px;
text-align: center;
}
.color-icon{
    fill: #00ADEE;
}
.gradient{
    min-width: 180px;
    background: none;
}
.control-left{
    display: none;
    }
.section-5{
    min-height: 409px;
}
.section-5-title{
    padding-bottom: 0;
}
.channel{
    justify-content: space-around;
    margin: 50px 20px;
}
.channel svg:first-of-type{
    margin-right: 50px;
}
.channel svg{
margin-bottom: 30px;
}
.section-6{
    background: #FFFFFF url(./images/football-end.png) no-repeat;
    background-size: 100% auto;
    background-position:center bottom;
    min-height: 720px;
}
.section-6-content{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 25px;
}

.section-6-text{
    padding: 15px 20px 37px;
}
.footer-content{
    min-height: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 45px 19px;
}
.footer-nav{
    max-width: 360px;
    min-width: 0;
    order: 1;
    justify-content: flex-start;
}
.footer-nav li{
    margin-left: 10px;
}
.social-media{
    padding: 11px 0 34px 12px;
}
.footer-logo{
    padding-left: 12px;
}

}



@media (min-width:450px) and (max-width:720px){

.header{
    background: #F4F6F9;
    padding:0 ;
}
.header-content{
    max-width: 720px;
    align-items: center;
    text-align: center;
    max-height: 525px;
    padding-top: 30px;
    padding-bottom: 59px ;
    
}

.header-text h1{
    font-size: 1.875em;
    line-height: 40px; 
}
.header-text p{
    line-height: 23px;
    padding-bottom: 25px;
    margin: 0 auto;
}
   

.header-button{
    max-width: 320px;
    margin: 0 auto;
    justify-content: center;
}


.section-1{
    max-width: 720px;
    background:linear-gradient(180deg, rgb(255, 255, 255) 65%, rgba(255, 255, 255, 0) 90%),url("./images/football-player.png") no-repeat;
    background-size: 100% auto;
    background-position:center bottom;
    min-height: 790px;
}
.interface-name{
    padding-bottom: 15px;
}
.text{
    max-width: 320px;
    margin: 0 auto;
    padding-bottom:15px ;
}
.football-info{
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
   
}
.football-title{
    padding-top: 50px;
    
    
}
.football-images{
    width: 100%;
   margin-left: 90px;
}
.schedule{
    width: 297px;
    height: 160.06px;
    top: -80px;
    left: -60px;
}
.switch{
    padding: 10px 0;
}
.label-text{
    margin-left: 5px;
}
.slider{
    margin-left: 0;
}
.slider:before{
    right: 27px;
    bottom: 4px;  
}
.football-video{
    width: 297px;
    height: 160.06px;
    top: 37px;
    left: 60px;
}

.section-2{
    max-width: 720px;
    background: url(./images/ellipses.png) no-repeat; 
    background-size: auto 56%;
    background-position: 98% bottom;
    overflow: hidden;
    min-height: 631px;
    
}
.section-2-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.interface-title{
    padding-top: 62px;
}

.section-3{
    width: 100%;
    max-width: 720px;
    min-height:1775px;
    background: #FAFAFA;
    color: #4F4F4F;
}
.dot{
    display: none;
}
.phone{
    top: 10%;
    right: 2%;
}
.feature{
    color: black;
    padding:42px 15px 0;
}
.feature-container{
    text-align: center;
    justify-content: center;
    margin: 0;
}
.feature-items{
    margin-top: 60px;
}
.user-comment{
    margin: 0 auto;
}
.user-comment:not(:nth-child(3)){
display: none;
}
.feature-li{
    list-style: none;
line-height: 23px;
text-align: center;
}
.color-icon{
    fill: #00ADEE;
}
.gradient{
    min-width: 180px;
    background: none;
}


.section-5{
    min-height: 409px;
}
.section-5-title{
    padding-bottom: 0;
}
.channel{
    justify-content: space-around;
    margin: 50px 20px;
}
.channel svg:first-of-type{
    margin-right: 50px;
}
.channel svg{
margin-bottom: 30px;
}
.section-6{
    background: #FFFFFF url(./images/football-end.png) no-repeat;
    background-size: 100% auto;
    background-position:center bottom;
    min-height: 830px;
}
.section-6-content{
    padding-top: 19px ;
    text-align: center;
    margin: 0 auto;
}

.section-6-text{
    width: 100%;
    padding: 15px 5px;
    margin: 0 auto;
}
.footer-content{
    min-height: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 45px 19px;
}
.footer-nav{
    min-width: 320px;
    order: 1;
}
.social-media{
    padding: 11px 0 34px 12px;
}
.footer-logo{
    padding-left: 12px;
}
}

@media (min-width:1441px){
    
    .section-2{
        background-repeat: no-repeat;
        background-position: right;
    }
    .phone{
        right: 2%;
    }
    .phone{
        margin-right: 20px;
    }
    .users-say{
        justify-content:space-around;
    }
    
    .sarah{
        margin-left: 0; 
    }
    .Udoma{
        margin-right: 0;
    } 
}