html,
body{
    width: 100%;
    min-height:100vh;
    font-size: 16px;
    font-family: "Lato", sans-serif;

}
.wrapper{
    width: 100%;
    
    
}
h2{
    font-weight: bold;
    font-size: 1.75em;
    line-height: 37px;
    color: #333333;
}
p{
    color: #4F4F4F;
}


/*header*/
.header{
    width: 100%;
    background: #F4F6F9 url(./images/background-mobile.png) no-repeat right;
    padding: 0 10px;
}
.header-content{
    width: 80%;
    max-height: 665px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-bottom:163px ;
    
}
.logo{
    max-width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 120px;
    margin-top: 30px;
    
    
    
}
.logo .sport{
    font-family: "Product Sans", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #5282F0;
}
.header-text h1{

max-width: 570px;
font-weight: bold;
font-size: 2.25em;
line-height: 48px;
letter-spacing: 0.03em;
color: #333333;
margin-bottom: 30px;
}
.header-text p{
max-width: 453px;
font-size: 1.125em;
line-height: 26px;
color: #4F4F4F;
margin-bottom: 50px;
}
.header-button{
    display: flex;
    justify-content: space-between;
    max-width: 348px;
    
}

/*Section1*/
.section-1{
    
    min-height: 490px;
    background: linear-gradient(270deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 67.14%),url("./images/football-player.png") no-repeat left;
    background-size: 58%;
    position: relative;
    z-index: 0;
    
    
}
.section-1-content{
    width: 80%;
    min-height: 470px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
    

}
.football-images{
    position: relative;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.football-schedule{
    position: absolute;
    z-index: 3;
    left: -25px;
    top: 48px;
}
.football-video{
    position: absolute;
    z-index: 2;
  top: 235px;
   left: 200px;
}

.football-info{
    max-width: 460px;
    max-height: 592px;
    margin-left: auto;
    position: relative;
    z-index: 2;
}
 h3{
    color: #00ADEE;
    font-weight: bold;
    line-height: 21px;
}
.football-title{
    padding-top: 70px;
}
 .interface-name{
    font-weight: bold;
    font-size: 1.75em;
    line-height: 37px;
    color: #333333;
    margin-top: 27px;
}
 .text{
    line-height: 23px;
    color: #4F4F4F;
    margin:27px 0;

    }

 /*Section 2*/
.section-2{
   
    min-height: 716px;
    background: url(./images/ellipses.png);
}
.section-2-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.interface{
    max-width: 500px;
}
.interface-title{
padding-top: 217px;
}
.phone{
    min-height: 513px;
    position: relative;
    margin-top: 34px;
    margin-right: 49px;
}
.basket{
    display: none;
}
.bell{
    position: absolute;
    top: 73px;
    left: 17px;
}
.enter-app{
    position: absolute;
    top: 406px;
    left: 267px
}
.dot{
    position: absolute;
    bottom: 112px;
    left: -80px;
}
 /*Section 3*/
 .section-3{
     
     min-height: 735px;
    background: #00ADEE url(./images/blue-background.png) no-repeat;
    color: #FFFFFF;
 }
 .section-3-content{
     max-width: 1130px;
     max-height: 700px;
     margin: 0 auto;
 }
 .feature{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 37px;
    text-align: center;  
    padding-top: 76px;

 }
 .feature-container{
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;
     flex-basis: 315px;
     max-height: 660px;
     margin-top: 59px;
 }
 .feature-items{
     max-width: 315px;
     line-height: 23px;
 }
 .feature-items:not(:nth-child(-n+3)){
     margin-top: 40px;
 }
 li{
     margin-left: 15px;
     list-style: disc;
     line-height: 23px;
 }
 

 /*Section 4*/
 .section-4{
    
    min-height: 431px;
    position: relative;
 }
 .gradient-1{
    min-width: 720px;
    min-height: 350px;
    position: absolute;
    right: 0px;
    top:15px;
    background:linear-gradient(270deg, #FFFFFF , rgba(255, 255, 255, 0) 40%);
 }
 .gradient-2{
    min-width: 720px;
    min-height: 350px;
    position: absolute;
    left: -1px;
    top:15px;
     background:linear-gradient(90deg, #FFFFFF , rgba(255, 255, 255, 0) 30%);
 }
 .section-4-content{
    padding-top: 62px;
    
 }

 .section-4-title{
    font-weight: bold;
    font-size: 1.75em;
    line-height: 37px;
    color: #333333;
    text-align: center;
   margin-bottom: 62px;
 }
 .users-say{
    
     display: flex;
     margin: 0 auto;
     position: relative;
     overflow: hidden;
   
 }
 .user-comment{
    min-width: 309px;
    min-height: 161px;
    border: 1px solid #828282;
    border-radius: 4px;
    margin-right: 35px;
 }
 .user-man{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 279px;
    padding-top: 15px;
}
.user-name{
    padding-right: 100px;
}
.user-text{
    max-width: 279px;
    margin: 0 auto;
    padding-top: 18px;
    font-size: 0.875em;
    line-height: 18px;
    color: #4F4F4F;
}
.sarah{
    margin-left: -178px; 
}
.Udoma{
    margin-right: -200px;
} 
.ellipse-arrow{
   width: 90%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-left: 105px;
    top: 230px;
    z-index: 10;
}
.arrow-right{
    position: absolute;
    top: 23px;
    right: 29px;
}
.arrow-left{
    position: absolute; 
    top: 23px;
    left: 29px; 
    transform: rotate(180deg);
}
.circles{
    display: flex;
    max-width: 141px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 47px; 
    position: relative;
}
.circle-graident{
    position: absolute;
    background:linear-gradient(270deg, #FFFFFF , rgba(255, 255, 255, 0) 80%);
    min-width: 141px;
    min-height: 12px;
}
.circle{
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background: #828282; 
}

/*Section 5*/
.section-5{
    min-height: 278px;
    background: #FAFAFA;
}
.section-5-content{
    max-width: 1075px;
    margin: 0 auto;
}
.section-5-title{
 text-align: center;
 padding: 57px 0;
}
.channel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*Section 6*/
.section-6{
    min-height: 480px;
    background: #FFFFFF url(./images/football-end.png) no-repeat;
}
.section-6-content{
    width: 45%;
    min-height:285px;
    margin-left:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 75px;
}
.section-6-text{
    max-width: 535px;
    line-height: 25px;
}

/*Footer*/
.footer{
    
    min-height: 127px;
    background: #00ADEE;
}
.footer-content{
    max-width: 1117px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
}
.footer p{
    font-family: "Product Sans", sans-serif;
    font-size: 1.5em;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.footer-logo{
    max-width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 390px;
    
}
.footer-a{
    text-decoration: none;
    line-height: 21px;
    color: #FFFFFF;
}
.footer-nav li{
    list-style: none;
}
.social-media{
min-width: 100px;
display: flex;
justify-content: space-between;
}