    header{
        width: 70%;
        margin: 0 auto;
        padding: 8px 0;
        border-bottom:1px solid #DBDBDB;;
    }
    h2,
    h3,
    p{
        margin-bottom: 0;
    }
    .btn:focus,
    .btn:active{
    outline: none !important;
    box-shadow: none !important;
    }
.form-control{
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    }
    .navbar{
    width: 17%;
    }
    .navbar-form{
    align-items: center;
    }
    .form-group{
    margin-bottom: 0;
    outline: none;
    }
    .form-control-sm{
        outline: none !important;
    box-shadow: none !important;
    border: 1px solid #DBDBDB;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px;
    color: #8F8F8F;
    background: url(./images/search.svg) no-repeat 30% 50%;
    }
    .btn-primary:hover {
        background-color: none;
    }
    a{
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: none;
    text-decoration: none !important;
    }
    ul{
       list-style-type: none;
       padding-inline-start: 0;
        }
   


    
       
        @media (max-width: 840px){
            .name{
                width: 90%;
            }
            .number-posts{
                margin: 10px 0;
            }
            .profile{
                width: 85%;
                justify-content: center;
            }
            
            .navbar{
                width: 30%;
            }
            .insta-story {
                padding-top: 36px;
                padding-right: 0;
            }
            .photo-section{
                margin-top: 0;
                margin: 0 auto;
            }
            .insta-info{
                margin-left: 15px;
                margin-top: 15px;
            }
            .navbar-form{
               margin-left: 15px;
            }
        
        }


        @media(max-width: 767px){
            .photo img{
                margin-left: 76px;
                margin-bottom: 15px;
            }
           

        }
        @media (max-width: 496px){
            .nickname{
                display: block;
                font-size: 1.5em;
                font-weight: bold;
                margin-right: 29%;

            }
            .message-number{
                position: absolute;
                width: 20px;
                height: 20px;
                top: 1.7%;
                left: 59%;
                text-align: center;
                font-size: 0.8em;
                line-height: 20px;
                border-radius: 50%;
                background: rgb(211, 28, 28);
                color: seashell;
                z-index: 5;
            }
            .header-content{
                justify-content: flex-end;
                margin-right: 3%;
            }
            .instagram-logo{
            display: none;
            }
            .insta-menu{
                display: none;
            }
            .menu-burger{
                display: flex;
                width: 35px;
                border-bottom: 1px solid grey;
            }
            .menu-burger::before{
                content: "";
                display: block;
                width: 35px;
                border-bottom: 1px solid grey;
                position: absolute;
                top: 17px;
            }
            .menu-burger::after{
                content: "";
                display: block;
                width: 35px;
                border-bottom: 1px solid grey;
                position: absolute;
                top: 37px;
            }
            .check{
                display: block;
                position: fixed;
                opacity: 0;
                width: 35px;
                height: 35px;
                cursor: pointer;
                z-index: 1;
            }
            .navbar-form{
                display: none;
            }
            .navbar{
                width: 45%;
            }  
            .name{
                min-width: 360px;
            }
            .insta-info{
                min-width: 350px;
                margin-right: 10px;
                margin-top: 20px;
                margin-left: 35px;
            }
            .insta-story{
                padding-top: 26px;
                width: 86%;
            }
            .photo-section{
                margin-top: 0;
            }
            .charter{
                width: 100%;
                
            }
            .charter-item{
                margin: 0 40px;
            }
            .photo img{
                margin-left: 30px;
                margin-bottom: 15px;
            }
            .navbar-form{
                display: none;
            }
        }

        @media (max-width: 420px){
            .photo img{
                margin-left: 15px;
                
            }
            
        }
        @media (max-width: 360px){
            
            
            .name{
                min-width: 320px;
            }
            .number-posts{
                max-width: 320px;
            }
            .navbar{
                width: 55%;
            }  
            .insta-info{
                width: 97%;
                max-width: 320px;
                min-width: 0;
                margin-left: 0;
            }
            .insta-story{
                width: 100%;
            }
            .charter-item {
                margin: 0 30px;
            }
            
            .profile-text{
                max-width: 300px;
            }
            .profile{
                width: 100%;
            }
            .photo img{
                margin-left: 0;
                margin-bottom: 15px;
            }
        }
