body{
    font-size: 15px;
    background-color: rgb(47, 47, 47);
    color: rgba(255, 255, 255, 0.719);
    font-family: Arial, Helvetica, sans-seri;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}
h1{
    text-align: center;
}
/*tables*/
table{
    
    border-spacing: 0;
    border: 1px solid rgba(255, 255, 255, 0.315);
    border-radius: 5px;
    table-layout: fixed;
    overflow: hidden;
    margin: 60px 50px;
    width: 60%;
}

th{
    height: 30px;
    text-align: left;
    padding: 15px 10px;
   
    
}
td{
    text-align: left;
    padding: 15px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.438);
    width: 50%;

   
}
.colorrows:hover{
    background-color: rgba(65, 64, 64, 0.644);
}
.secondplace{
    padding-left: 110px;
}

.secondplace.row,
.thirdplace.light{
    color:rgba(255, 255, 255, 0.329);
}
.thirdplace{
    text-align: end;
}

/*triangle*/
span{
    border-top: 8px solid rgba(255, 255, 255, 0.719);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-top: 6px;
    margin-left: 10px;
    position: absolute;
    border-radius: 3px;
}
 /*checkbox*/
    input:not(.searchline) {
    display: none;
  }

    label {
    cursor: pointer;
}
  
   label::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: rgba(255, 255, 255, 0.76);
      vertical-align: middle;
      margin-right:12px;
      margin-left: 5px;
      border-radius: 3px;
  }

input.itemcheckbox:checked + label:before {
    content: "\2713";
    background-color: rgb(100, 100, 255);
    color: cornsilk;
    text-align: center;
    line-height: 15px;
}
input.headcheckbox:checked + label:before {
    content: "\2013 ";
    background-color: rgb(100, 100, 255);
    color: cornsilk;
    text-align: center;
    line-height: 15px;
}


/*input search*/
.searchline{
    margin-left: 80px;
    padding-left: 5px;
    background-color : rgb(87, 84, 84);
    border: none;
    border-radius: 5px;
    height: 30px;   
}

 /*icons*/
 img{
    position: relative;
    top: 5px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
 }
 


    

