/*section-2*/
.general-p{
    margin-top: 16px;
}
.section-2{
    text-align: center;
}
.section-2{
    background: #E7ECFF;
    position: relative;
}
.section-2::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom-left-radius: 50% 90%;
    border-bottom-right-radius: 50% 90%;
}
.section-2-content{
    padding: 30% 0 10%;
    .section-2-text{
        padding-bottom: 5%;
    }
}
.price{
    padding-bottom: 30px;
    .money{
        font-size: 2.78em;
        font-weight: bold;
        line-height: 66px;
        letter-spacing: 1px;
        color: #222F65;
    }
    .money-text{
        font-size: 0.89em;
        line-height: 26px;
        color: #37447E;
    }
}
.purchase-p{
    font-size: 0.78em;
    line-height: 24px;
    color: #5D6970;
    margin-bottom: 5px;
}

@media (max-width: 576px){
    .section-2::before{
        height: 40px;
    }
}
